In [1]:
ls

01_Jupyter-Notebooks/                13_Biopython/
02_UNIX/                             14_Student-Presentations/
03_Git/                              Lists and Loops lecture 10-16.ipynb
04_Data-Structures/                  README.md
06_Loops/                            Syllabus_and_Schedule/
07_Conditionals/                     Untitled.ipynb
08_Functions/                        cheatsheets/
09_NumPy/                            config/
10_Pandas/                           scripts/
11_DataViz/                          untitled.txt
12_Machine-Learning/

In [2]:
#lists and loops
a = ['Chelsea', 'Kimberley', 'Arup', 'Christopher', 'Sherine', 'Mason', 'Devikala', 'Drew', 'Somayeh', 'Melpomeni', 'Siyoung', 'Shennon', 'David', 'Ryan', 'Naisarg', 'Maria', 'Mohammad', 'Rachel', 'Daron', 'Kat', 'Kelsey', 'James', 'Maggie', 'Saad', 'Aditi', 'Brigette', 'Jaira', 'Christopher', 'Gernot', 'Taylor', 'Vasilisa', 'Sureshbabu', 'Thomas', 'Tejpal', 'Mahesh', 'Jakob', 'Victoria', 'Brian', 'Dakota', 'Jiman', 'Lauren', 'Billy', 'Jesse', 'John', 'Veronica', 'Kyle', 'Michael', 'Hassan', 'Mathew', 'Ida', 'Irina', 'Chen', 'Margaret', 'Timothy', 'Yiquan', 'Renbin', 'Erik']

In [3]:
#print length of list
len(a)

57

In [4]:
#print type of list
type(a)

list

In [5]:
#index the first student on the list
a[0]

'Chelsea'

In [7]:
#index (print) the last student on the list
a[-1]

'Erik'

In [8]:
#print how many 'e's there are in the first index (ie Chelsea has 2 e's)
a[0].count('e')

2

In [9]:
range(10)

range(0, 10)

In [11]:
#for loop needs colon, 4 space indent
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
#name variable as element then print all names in list a 
for element in a:
    print(element)

Chelsea
Kimberley
Arup
Christopher
Sherine
Mason
Devikala
Drew
Somayeh
Melpomeni
Siyoung
Shennon
David
Ryan
Naisarg
Maria
Mohammad
Rachel
Daron
Kat
Kelsey
James
Maggie
Saad
Aditi
Brigette
Jaira
Christopher
Gernot
Taylor
Vasilisa
Sureshbabu
Thomas
Tejpal
Mahesh
Jakob
Victoria
Brian
Dakota
Jiman
Lauren
Billy
Jesse
John
Veronica
Kyle
Michael
Hassan
Mathew
Ida
Irina
Chen
Margaret
Timothy
Yiquan
Renbin
Erik

In [17]:
#print the range of a under variable name 'names'
for names in range(len(a)):
    print(names)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56

In [18]:
#for variable names, print range and list a
for names in range(len(a)):
    print(names)
    print(a[names])

0
Chelsea
1
Kimberley
2
Arup
3
Christopher
4
Sherine
5
Mason
6
Devikala
7
Drew
8
Somayeh
9
Melpomeni
10
Siyoung
11
Shennon
12
David
13
Ryan
14
Naisarg
15
Maria
16
Mohammad
17
Rachel
18
Daron
19
Kat
20
Kelsey
21
James
22
Maggie
23
Saad
24
Aditi
25
Brigette
26
Jaira
27
Christopher
28
Gernot
29
Taylor
30
Vasilisa
31
Sureshbabu
32
Thomas
33
Tejpal
34
Mahesh
35
Jakob
36
Victoria
37
Brian
38
Dakota
39
Jiman
40
Lauren
41
Billy
42
Jesse
43
John
44
Veronica
45
Kyle
46
Michael
47
Hassan
48
Mathew
49
Ida
50
Irina
51
Chen
52
Margaret
53
Timothy
54
Yiquan
55
Renbin
56
Erik

In [21]:
for me in a[17]:
    print(me)

R
a
c
h
e
l

In [23]:
#initialize empty array
lengths = []

In [28]:
#add item to empty list 'lengths' by using lengths.append(l)
for i in range(len(a)):
    l = len(a[i])
    lengths.append(l)

In [25]:
type(lengths)

list

In [26]:
a[0]

'Chelsea'

In [27]:
len(a[0])

7

In [29]:
#add item to empty list 'lengths' by using lengths.append(l)
for i in range(len(a)):
    l = len(a[i])
    lengths.append(l)

In [30]:
print(lengths)

[7, 9, 4, 11, 7, 5, 8, 4, 7, 9, 7, 7, 5, 4, 7, 5, 8, 6, 5, 3, 6, 5, 6, 4, 5, 8, 5, 11, 6, 6, 8, 10, 6, 6, 6, 5, 8, 5, 6, 5, 6, 5, 5, 4, 8, 4, 7, 6, 6, 3, 5, 4, 8, 7, 6, 6, 4, 7, 9, 4, 11, 7, 5, 8, 4, 7, 9, 7, 7, 5, 4, 7, 5, 8, 6, 5, 3, 6, 5, 6, 4, 5, 8, 5, 11, 6, 6, 8, 10, 6, 6, 6, 5, 8, 5, 6, 5, 6, 5, 5, 4, 8, 4, 7, 6, 6, 3, 5, 4, 8, 7, 6, 6, 4, 7, 9, 4, 11, 7, 5, 8, 4, 7, 9, 7, 7, 5, 4, 7, 5, 8, 6, 5, 3, 6, 5, 6, 4, 5, 8, 5, 11, 6, 6, 8, 10, 6, 6, 6, 5, 8, 5, 6, 5, 6, 5, 5, 4, 8, 4, 7, 6, 6, 3, 5, 4, 8, 7, 6, 6, 4]

In [31]:
#
print(lengths[17])

6

In [34]:
len(lengths) == len(a)

False

In [35]:
len(lengths)

171

In [36]:
lengths = []

In [37]:
len(lengths)/3.0

0.0

In [38]:
len(a)

57

In [39]:
len(a) * 3

171

In [40]:
len(lengths)

0

In [41]:
#add item to empty list 'lengths' by using lengths.append(l)
for i in range(len(a)):
    l = len(a[i])
    lengths.append(l)

In [44]:
len(lengths)

57

In [45]:
len(a)

57

In [46]:
len(lengths) == len(a)

True

In [55]:
#pseudo-code: calculate the sum of the lengths
# 1. call lengths
# 2. add up sum of lenghts
# 3. print result

In [53]:
c = 0

In [58]:
print(lengths)

[7, 9, 4, 11, 7, 5, 8, 4, 7, 9, 7, 7, 5, 4, 7, 5, 8, 6, 5, 3, 6, 5, 6, 4, 5, 8, 5, 11, 6, 6, 8, 10, 6, 6, 6, 5, 8, 5, 6, 5, 6, 5, 5, 4, 8, 4, 7, 6, 6, 3, 5, 4, 8, 7, 6, 6, 4]

In [60]:
for sum in range(len(lengths)):
    c = c + lengths(sum)

TypeError: 'list' object is not callable

In [62]:
k = []

In [64]:
for i in a:
    k += len(i)

TypeError: 'int' object is not iterable

In [65]:
#join list into one long string
''.join(a)

'ChelseaKimberleyArupChristopherSherineMasonDevikalaDrewSomayehMelpomeniSiyoungShennonDavidRyanNaisargMariaMohammadRachelDaronKatKelseyJamesMaggieSaadAditiBrigetteJairaChristopherGernotTaylorVasilisaSureshbabuThomasTejpalMaheshJakobVictoriaBrianDakotaJimanLaurenBillyJesseJohnVeronicaKyleMichaelHassanMathewIdaIrinaChenMargaretTimothyYiquanRenbinErik'

In [66]:
#rename long string to str_a
str_a = ''.join(a)
print(str_a)

ChelseaKimberleyArupChristopherSherineMasonDevikalaDrewSomayehMelpomeniSiyoungShennonDavidRyanNaisargMariaMohammadRachelDaronKatKelseyJamesMaggieSaadAditiBrigetteJairaChristopherGernotTaylorVasilisaSureshbabuThomasTejpalMaheshJakobVictoriaBrianDakotaJimanLaurenBillyJesseJohnVeronicaKyleMichaelHassanMathewIdaIrinaChenMargaretTimothyYiquanRenbinErik

In [67]:
la = list(str_a)

In [68]:
print(la)

['C', 'h', 'e', 'l', 's', 'e', 'a', 'K', 'i', 'm', 'b', 'e', 'r', 'l', 'e', 'y', 'A', 'r', 'u', 'p', 'C', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r', 'S', 'h', 'e', 'r', 'i', 'n', 'e', 'M', 'a', 's', 'o', 'n', 'D', 'e', 'v', 'i', 'k', 'a', 'l', 'a', 'D', 'r', 'e', 'w', 'S', 'o', 'm', 'a', 'y', 'e', 'h', 'M', 'e', 'l', 'p', 'o', 'm', 'e', 'n', 'i', 'S', 'i', 'y', 'o', 'u', 'n', 'g', 'S', 'h', 'e', 'n', 'n', 'o', 'n', 'D', 'a', 'v', 'i', 'd', 'R', 'y', 'a', 'n', 'N', 'a', 'i', 's', 'a', 'r', 'g', 'M', 'a', 'r', 'i', 'a', 'M', 'o', 'h', 'a', 'm', 'm', 'a', 'd', 'R', 'a', 'c', 'h', 'e', 'l', 'D', 'a', 'r', 'o', 'n', 'K', 'a', 't', 'K', 'e', 'l', 's', 'e', 'y', 'J', 'a', 'm', 'e', 's', 'M', 'a', 'g', 'g', 'i', 'e', 'S', 'a', 'a', 'd', 'A', 'd', 'i', 't', 'i', 'B', 'r', 'i', 'g', 'e', 't', 't', 'e', 'J', 'a', 'i', 'r', 'a', 'C', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r', 'G', 'e', 'r', 'n', 'o', 't', 'T', 'a', 'y', 'l', 'o', 'r', 'V', 'a', 's', 'i', 'l', 'i', 's', 'a', 'S', 'u', 'r', 'e', 's', 'h', 'b', 'a', 'b', 'u', 'T', 'h', 'o', 'm', 'a', 's', 'T', 'e', 'j', 'p', 'a', 'l', 'M', 'a', 'h', 'e', 's', 'h', 'J', 'a', 'k', 'o', 'b', 'V', 'i', 'c', 't', 'o', 'r', 'i', 'a', 'B', 'r', 'i', 'a', 'n', 'D', 'a', 'k', 'o', 't', 'a', 'J', 'i', 'm', 'a', 'n', 'L', 'a', 'u', 'r', 'e', 'n', 'B', 'i', 'l', 'l', 'y', 'J', 'e', 's', 's', 'e', 'J', 'o', 'h', 'n', 'V', 'e', 'r', 'o', 'n', 'i', 'c', 'a', 'K', 'y', 'l', 'e', 'M', 'i', 'c', 'h', 'a', 'e', 'l', 'H', 'a', 's', 's', 'a', 'n', 'M', 'a', 't', 'h', 'e', 'w', 'I', 'd', 'a', 'I', 'r', 'i', 'n', 'a', 'C', 'h', 'e', 'n', 'M', 'a', 'r', 'g', 'a', 'r', 'e', 't', 'T', 'i', 'm', 'o', 't', 'h', 'y', 'Y', 'i', 'q', 'u', 'a', 'n', 'R', 'e', 'n', 'b', 'i', 'n', 'E', 'r', 'i', 'k']

In [73]:
la[3]

'l'

In [74]:
#change 'l' to 'r' so output is 'Chersea'
la[3] = 'r'

In [75]:
''.join(la)

'CherseaKimberleyArupChristopherSherineMasonDevikalaDrewSomayehMelpomeniSiyoungShennonDavidRyanNaisargMariaMohammadRachelDaronKatKelseyJamesMaggieSaadAditiBrigetteJairaChristopherGernotTaylorVasilisaSureshbabuThomasTejpalMaheshJakobVictoriaBrianDakotaJimanLaurenBillyJesseJohnVeronicaKyleMichaelHassanMathewIdaIrinaChenMargaretTimothyYiquanRenbinErik'

In [71]:
#''.join() converts between string and list form

In [76]:
nonsense_string = "asdfhao83nml29rj`1o29p3wflmudabio8a9lw3finevqaslvrghi8qn4eruav"

###divide into groups again and
#0.) find out how many instances of the string 'a' are in the nonsense string using the count method
#1.) use the split method to turn nonsense_string into a list, removing all instances of the string 'm'
#2.) go to the first element in your new list, change the 3rd value of this element to '9'
#3). add the string "listsarerad" to the end of the list
#4). now that we've made some changes, calculate how many instances of the string 'a' are in your list using the count method
#5). turn it back into a string

In [77]:
#0.) 
nonsense_string.count('a')

6

In [78]:
list(nonsense_string)

['a',
 's',
 'd',
 'f',
 'h',
 'a',
 'o',
 '8',
 '3',
 'n',
 'm',
 'l',
 '2',
 '9',
 'r',
 'j',
 '`',
 '1',
 'o',
 '2',
 '9',
 'p',
 '3',
 'w',
 'f',
 'l',
 'm',
 'u',
 'd',
 'a',
 'b',
 'i',
 'o',
 '8',
 'a',
 '9',
 'l',
 'w',
 '3',
 'f',
 'i',
 'n',
 'e',
 'v',
 'q',
 'a',
 's',
 'l',
 'v',
 'r',
 'g',
 'h',
 'i',
 '8',
 'q',
 'n',
 '4',
 'e',
 'r',
 'u',
 'a',
 'v']

In [80]:
#take every instance where there is a 'm,' removes it and splits the string
asplit = nonsense_string.split('m')

In [81]:
asplit

['asdfhao83n', 'l29rj`1o29p3wfl', 'udabio8a9lw3finevqaslvrghi8qn4eruav']

In [86]:
asplit[0][2] = '9'

TypeError: 'str' object does not support item assignment

In [89]:
newsplit = ''.join(asplit)

In [90]:
print(newsplit)

asdfhao83nl29rj`1o29p3wfludabio8a9lw3finevqaslvrghi8qn4eruav

In [93]:
b = list(newsplit)

In [94]:
b[2] = 9

In [95]:
print(b)

['a', 's', 9, 'f', 'h', 'a', 'o', '8', '3', 'n', 'l', '2', '9', 'r', 'j', '`', '1', 'o', '2', '9', 'p', '3', 'w', 'f', 'l', 'u', 'd', 'a', 'b', 'i', 'o', '8', 'a', '9', 'l', 'w', '3', 'f', 'i', 'n', 'e', 'v', 'q', 'a', 's', 'l', 'v', 'r', 'g', 'h', 'i', '8', 'q', 'n', '4', 'e', 'r', 'u', 'a', 'v']

In [96]:
###divide into groups again and
#0.) find out how many instances of the string 'a' are in the nonsense string using the count method
#1.) use the split method to turn nonsense_string into a list, removing all instances of the string 'm'
#2.) go to the first element in your new list, change the 3rd value of this element to '9'
#3). add the string "listsarerad" to the end of the list
#4). now that we've made some changes, calculate how many instances of the string 'a' are in your list using the count method
#5). turn it back into a string

b.append('listsarerad')

In [97]:
print(b)

['a', 's', 9, 'f', 'h', 'a', 'o', '8', '3', 'n', 'l', '2', '9', 'r', 'j', '`', '1', 'o', '2', '9', 'p', '3', 'w', 'f', 'l', 'u', 'd', 'a', 'b', 'i', 'o', '8', 'a', '9', 'l', 'w', '3', 'f', 'i', 'n', 'e', 'v', 'q', 'a', 's', 'l', 'v', 'r', 'g', 'h', 'i', '8', 'q', 'n', '4', 'e', 'r', 'u', 'a', 'v', 'listsarerad']

In [98]:
b.count('a')

6

In [101]:
b[2] = '9'

In [102]:
b

['a',
 's',
 '9',
 'f',
 'h',
 'a',
 'o',
 '8',
 '3',
 'n',
 'l',
 '2',
 '9',
 'r',
 'j',
 '`',
 '1',
 'o',
 '2',
 '9',
 'p',
 '3',
 'w',
 'f',
 'l',
 'u',
 'd',
 'a',
 'b',
 'i',
 'o',
 '8',
 'a',
 '9',
 'l',
 'w',
 '3',
 'f',
 'i',
 'n',
 'e',
 'v',
 'q',
 'a',
 's',
 'l',
 'v',
 'r',
 'g',
 'h',
 'i',
 '8',
 'q',
 'n',
 '4',
 'e',
 'r',
 'u',
 'a',
 'v',
 'listsarerad']

In [103]:
rad = ''.join(b)

In [104]:
rad

'as9fhao83nl29rj`1o29p3wfludabio8a9lw3finevqaslvrghi8qn4eruavlistsarerad'

In [105]:
rad.count('a')

8

In [106]:
type(rad)

str

In [107]:
y = list(rad)

In [108]:
y

['a',
 's',
 '9',
 'f',
 'h',
 'a',
 'o',
 '8',
 '3',
 'n',
 'l',
 '2',
 '9',
 'r',
 'j',
 '`',
 '1',
 'o',
 '2',
 '9',
 'p',
 '3',
 'w',
 'f',
 'l',
 'u',
 'd',
 'a',
 'b',
 'i',
 'o',
 '8',
 'a',
 '9',
 'l',
 'w',
 '3',
 'f',
 'i',
 'n',
 'e',
 'v',
 'q',
 'a',
 's',
 'l',
 'v',
 'r',
 'g',
 'h',
 'i',
 '8',
 'q',
 'n',
 '4',
 'e',
 'r',
 'u',
 'a',
 'v',
 'l',
 'i',
 's',
 't',
 's',
 'a',
 'r',
 'e',
 'r',
 'a',
 'd']

In [109]:
rad

'as9fhao83nl29rj`1o29p3wfludabio8a9lw3finevqaslvrghi8qn4eruavlistsarerad'

In [110]:
#pull out unique values
set(y)

{'1',
 '2',
 '3',
 '4',
 '8',
 '9',
 '`',
 'a',
 'b',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w'}

In [111]:
len(y)

71

In [112]:
len(set(y))

27

In [113]:
f = set(y)

In [114]:
f

{'1',
 '2',
 '3',
 '4',
 '8',
 '9',
 '`',
 'a',
 'b',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w'}